.play_contain {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 85%;
    left: 50%;
    opacity: 0;

    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);

    animation: fadeButton 2s 0.4s forwards;
}

.play_btn {
    background-color: transparent;
    width: 50px;
    height: 50px;
    cursor: pointer;

    -o-transition: .25s;
    -ms-transition: .25s;
    -moz-transition: .25s;
    -webkit-transition: .25s;
    transition: .25s;
}

.play_btn span {
    background-color: #fff;
    width: 100%;
    height: 2px;
    position: absolute;

    -ms-transform-origin: 0% 0%;
    -webkit-transform-origin: 0% 0%;
    transform-origin: 0% 0%;

    -o-transition: .25s;
    -ms-transition: .25s;
    -moz-transition: .25s;
    -webkit-transition: .25s;
    transition: .25s;
}

.play_btn span:nth-child(1) {
    top: 25%;
    left: 50%;

    transform: rotate(30deg)translate(-50%, -50%);
    -webkit-transform: rotate(30deg)translate(-50%, -50%);

    transition-timing-function: cubic-bezier(.75, 0, .9, 1);
    -webkit-transition-timing-function: cubic-bezier(.75, 0, .9, 1);
}

.trigger .play_btn span:nth-child(1) {
    top: 50% !important;
    left: 70% !important;

    transform: rotate(-90deg)translate(-50%, -50%) !important;
    -webkit-transform: rotate(-90deg)translate(-50%, -50%) !important;
}

.play_btn span:nth-child(2) {
    top: 50%;
    left: 5%;

    transform: rotate(90deg)translate(-50%, -50%);
    -webkit-transform: rotate(90deg)translate(-50%, -50%);

    transition-timing-function: cubic-bezier(0.5, 0.5, 0.25, 1.5);
    -webkit-transition-timing-function: cubic-bezier(0.5, 0.5, 0.25, 1.5);
}

.trigger .play_btn span:nth-child(2) {
    top: 50% !important;
    left: 30% !important;

    transform: rotate(90deg)translate(-50%, -50%) !important;
    -webkit-transform: rotate(90deg)translate(-50%, -50%) !important;

    -webkit-transition-delay: .5s;
    transition-delay: .5s;
}

.play_btn span:nth-child(3) {
    top: 75%;
    left: 50%;

    transform: rotate(-30deg)translate(-50%, -50%);
    -webkit-transform: rotate(-30deg)translate(-50%, -50%);

    transition-timing-function: cubic-bezier(.75, 0, .9, 1);
    -webkit-transition-timing-function: cubic-bezier(.75, 0, .9, 1);
}

.trigger .play_btn span:nth-child(3) {
    top: 50% !important;
    left: 70% !important;

    transform: rotate(90deg)translate(-50%, -50%) !important;
    -webkit-transform: rotate(90deg)translate(-50%, -50%) !important;

    -webkit-transition-delay: .25s;
    transition-delay: .25s;
}

@keyframes fadeButton {
  from {
    opacity: 0;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, 0%);
  }

  to {
    opacity: 1;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
  }
}